body {
    font-family: Merriweather, serif;
    margin: 0px;
    line-height:1.8;
    font-size: 1.2rem;
}

main {
    margin-bottom: 15px;
}

#wrapper { padding: 15px 70px;}

p, li, i, label { 
    text-align: justify;
}

.required-asterisk {
	color: red; 
	font-weight: bold; 
}

/*NAVBAR*/
.navbar {
    display: grid;
    grid-template-columns: 0.4fr 2.5fr 1fr;
    align-items:center;
    padding: 0px 20px;
    background-color: #173451;
}

.navbar-logo img{
    height: 80px;
}

.navbar span {
    font-weight: 500;    
    align-items:center;
    font-size: 1.5rem;
    color:  white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/*Create-Btn (Homepage)*/
.btn-center, .center-section p{
    text-align: center;
}

.center-section {margin: 20px;}

.btn-start {
    width: 350px;              
    padding: 20px;            
    font-size: 1.3rem;            
    font-weight: 700;
    background-color: #173451;  
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.btn-start:hover {
    background-color: #5897c9;
    transform: scale(1.05);   
}

/*LIST*/
.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-header span {
    color: #173451;
    font-weight: 800;
    font-size: 1.7rem;
}

.list-header .create-btn {
    padding: 6px 15px;
    font-size: 1.1rem;
}

.list-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.2fr 1.3fr 0.7fr 2.8fr;    
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.list-id {
    font-weight: bold;
}

.list-actions {
    flex: 1.6;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.headers {
    font-weight: 700;
}
.action-btn {
    background-color: #173451;  
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.details-btn{
    padding: 7px 10px;
    background: #003f7f; 
    color:#fff;
    font-weight:bold;}
.edit-btn {
    padding: 7px 18px;
    background: #0056b8; 
    color:#fff;
    font-weight:bold;}
.delete-btn {
    padding: 7px 13px;
    background: #B22222;
    color: #fff;
    font-weight:bold;}
.fill-btn{
    padding: 7px 15px;
    background: #4A7856;
    color: #fff;
    font-weight:bold;
}
.close-btn{
    padding: 7px 10px;
    background: #4B3621;
    color: #fff;
    font-weight:bold;
}

.action-btn:hover {
    background-color: #6c757d; 
}

/*FORM*/
.header {
    padding: 0px 100px;       
    margin-bottom: 20px;
}
.header h1{
    text-align:center;
}
.header p {
    font-style: italic;
    margin-left: 0px;
}

.form-container {
    max-width: 1000px;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.header-info   {
    color: #173451; 
}


/* Fieldset */
fieldset {
    border: 2px solid #5897c9;   
    display: grid;
    border-radius: 10px;
    padding: 20px 25px;
    margin: 10px;
}

legend {
    color: #173451;  
    padding: 0 10px;
    font-weight: bold;
}

.two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.three-cols {
    display: grid;
    grid-template-columns: 2.2fr 1.7fr 2.5fr; 
}
.five-cols {
    display: grid;
    grid-template-columns: 2.2fr 1fr 1fr 1fr 1fr; 
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea
{
    padding: 10px 20px;
    margin: 9px 10px;
    border: 1px solid grey;      
    border-radius: 5px;
    font-size: 1rem;
}


.form-group-2 {
    display: grid;
    grid-template-columns: 0.3fr auto 1fr; 
    align-items: center;
    margin-bottom: 14px;
}

.form-group-2 label {
    display: contents; 
}

.form-group-2 #supplier {width: 30%;}
.form-group-2 #desItem, .form-group-2 textarea{ width: 85%;}
#quaDefect, #quaReceived {width: 15%; margin-left: 30px;}
.form-group textarea {width: 70%;}

.save-btn, .cancel-btn, .back-btn, .print-btn, .draft-btn {
    background-color: #173451;  
    border: none;
    padding: 15px 30px;
    border-radius: 20px;       
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-size: 0.9rem;
}

.save-btn:hover, .cancel-btn:hover, .back-btn:hover, .print-btn:hover, .draft-btn:hover {
    background-color: #5897c9; 
}

.form-btn {
    display: flex;               
    margin-top: 25px;
    justify-content: center;     
    gap: 20px;                       
}

/*DETAILS*/
.ncr-container {
    padding: 15px ;
    max-width: 950px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.header-info {
    font-weight: bold;
}

.details-section {
    margin-bottom: 8px;
}

.details-section h2 {
    font-size:1.3em;
    border-bottom: 2px solid #5897c9;
    padding-bottom: 2px;
    margin-bottom: 13px;
}

.card, .card-big{
    background: #fff;
    padding: 4px 40px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.card h3, .card-big h3 {
    margin: 10px 0 8px 0;
    color: #5897c9;
}

.card p {
    margin: 10px 0 0px 0;
}

.card-big p {
    margin: 8px 0 2px 0;
}

.card-three-cols 
{
    display: grid;
    grid-template-columns: 0.9fr 1.1fr 1fr;
}
/*footer*/
footer {
    background: #173451;
    color: white;
    display: block;
    padding: 10px 20px;
    margin: 0;
}

@media screen and (min-width: 768px) {s
    main {  padding: 0 30px 15px 30px;}

    h1 { font-size: 2rem;}
    
    .footer-div {
        margin: 0 40px;
        display: grid;
        grid-template-columns: 3fr 3fr;
        gap: 35px;
        align-items: center;
        justify-content: center;
    }
    footer {
        padding: 10px;
    }
   select {font-size: 1rem;}
}

/*POP UP*/
.popup-email {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    padding: 25px 30px;
    border-radius: 10px;
    text-align: center;
    width: 330px;
    background: #fff;
    border: 3px solid #173451;
}

.popup-content input[type="email"] {
    width: 80%;
    padding: 9px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.popup-send, .popup-cancel{
    background-color: #173451;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;       
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.popup-send:hover, .popup-cancel:hover {
  background-color: #5897c9;
}


/* Container filter + sort */
.filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;  
    gap: 1.4rem;     
    margin: 10px 0;       
}

.filter label {
    font-weight: bold;   
}

.filteropt, .sortopt, .pageopt {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1.5px solid #173451;
    cursor: pointer;
}

/*Paging*/
.paging {
    text-align: center;
    margin-top: 15px;
}

.paging button {
    margin: 0 10px;
    padding: 8px 15px;
    border: none;
    background-color: #173451;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight:550;
}

.paging button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.tooltip {
    position: relative;
    cursor: pointer;    
    margin-left: 6px;
    font-size: 1.2rem;
}

.tooltip-text {
    font-size: 0.7em;
    visibility: hidden;
    width: 430px;
    background-color: #333;     
    color: #fff;
    text-align: justify;
    border-radius: 5px;
    padding: 9px;
    position: absolute;
    bottom: 130%; 
    left: 20%;

}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.hint
{
    color: gray; 
    font-size: 0.9em;
    font-style: italic;
    margin-left: 30px;
}

/* Engineering */
.rev-num input[type="text"] {
    width: 20%;
}

.form-container label {
    margin-bottom: 10px; 
}

#wrapper section {
    margin-bottom: 20px;
}

#engineeringInfo {
    display:none; 
    margin-top:20px; 
    padding:10px; 
    border-radius:8px;
}

/*PRINT*/
@media print {
    .nav-links,
    .navbar span,
    .form-btn,
    footer {
        display: none !important;}

    .navbar {
        display: flex;
        border-bottom: 2px solid #000;
        margin-bottom: 10px;
    }

    .navbar-logo img {
        width: 60px;  
        height: auto;
    }

    body {
        margin: 0;
        padding: 0;
    }
    .ncr-container {
        width: 90%;
        max-width: 850px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: none;
        border: none;
    }
    h1 {
        text-align: center;
        font-size: 24px;
        margin: 0 0 10px 0;
    }

    .header-info {
        font-size: 16px;
        margin-bottom: 0;
    } 
  
    .details-section {
        margin-bottom: 20px;
    }

    .details-section h2 {
        padding: 4px 13px;
        border-left: 6px solid #000;
        font-size: 19px;
    }

    .card, .card-big {
        border: 1px solid black;
        padding: 5px 10px 10px 30px;
        margin-top: 8px;
        font-size: 15px;
        page-break-inside: avoid;
    }

    .card h3,
    .card-big h3 {
        text-decoration: underline;
        font-size: 18px;
    }

    * {
        background: transparent;
        color: black !important;
    }
}

/*E-CREATE*/
#customerNotificationDiv {
    display: none;
}

/*Quality Info*/
.qualitySummary {
    border: 1px solid grey;    
    background: #fafafa;
    max-width: 84%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    color: #173451;
}


.qualityContent {
    display: none;
}

.qualityHeader {
    display: flex;
    user-select: none;
    justify-content: space-between;
    padding: 12px 25px;
    background: #E9E7E7;
    cursor: pointer;
}

.qualityHeader:hover {
    background: #CECECE;
}

.qualityHeader h3 {
    margin: 0;
    font-size: 19px;
}

.qualityContent {
    padding: 15px 50px;
    display: none;
}

.qualityContent p {
    margin: 4px 0;
}

.arrow.open {
    transform: rotate(180deg);
}
